
<mat-toolbar class="toolbar-blue">
    <mat-toolbar-row>
      <span>
       
        <mat-icon>school</mat-icon> Gestion de Minas
      </span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" [routerLink]="'/sanchez/nuevo'">
  
        <mat-icon>add</mat-icon> Nuevo
      </button>
      <button mat-raised-button color="primary" [routerLink]="'/sanchez/lista'">
        <mat-icon>list</mat-icon> Listar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  