<mat-card>
    <div class=""list-container>
      <mat-table [dataSource]="investigacion" class="mat-elevation-z8">
              <!-- Código Column -->
              <ng-container matColumnDef="codigo">
                <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
                <mat-cell *matCellDef="let investigacion"> {{investigacion.codigo}} </mat-cell>
              </ng-container>
  
                    <!-- Código Column -->
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let investigacion"> {{ investigacion.descripcion }} </mat-cell>
        </ng-container>
  
        <!-- Código Column -->
          <ng-container matColumnDef="presupuesto">
           <mat-header-cell *matHeaderCellDef> Presupuesto </mat-header-cell>
            <mat-cell *matCellDef="let investigacion"> {{ investigacion.presupuesto }} </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
  
      </mat-table>
    </div>
  
  
  </mat-card>
