mat-card {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .mda-form-msg {
    color: red;
    font-size: 12px;
  }
  
  .investigacion-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .button {
    margin-right: 10px;
  }
  
  .button:last-child {
    margin-left: 10px;
  }
  